{% extends 'base.html.twig' %}
{# {% extends 'article/index.html.twig' %} #}

{% block title %}Acceuil!{% endblock %}

{% block body %}

<div class="text-center">
    <h1>Hello {{ app.user.username }}! ✅</h1>   
</div>


{# {% block article %}{% endblock %} #}
{% endblock %}
