body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.article{
    border: solid 2px red;
    text-align: center;
}