/* body {
   
} */
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5%;
}
p{
    border: solid 2px black;  
    padding: 5%;
    margin: 2%;
    box-shadow: 10px 5px 5px black;
}
.article  {
    border: solid 2px black;
    text-align: center;
    margin: 2.5%;
    padding: 5%;
   max-height: 25%;
    box-shadow: 10px 5px 5px black;
}
img{
    border: solid 2px black;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    box-shadow: 10px 5px 5px black;
}
input{
    margin: auto;
    width: 40%;
}
.form-control{
    margin: auto;
    width: 20%;
    text-align: center;
}
form{
    margin: auto;
    /* width: 20%; */
    text-align: center;
}
.navbar{
    height: 20%;
}