{% extends 'base.html.twig' %}


{% block title %}Voici l'article N°?{% endblock %}

{% block body %}

{# <link rel="stylesheet" href="../style.css"> #}

<div class="title">
<h1>Article</h1>
</div>



{% for article in categories.findAll() %}
                    <a class="dropdown-item --bs-pink list-group-item d-flex justify-content-between align-items-center" href="#">{{category.name}} &nbsp <small class=" badge bg-primary rounded-pill">{{category.getPost()|length}}</small></a>
                {% endfor %}

{% endblock %}
