{% extends 'base.html.twig' %}


{% block title %}Voici l'article N°?{% endblock %}

{% block body %}

{# <link rel="stylesheet" href="../style.css"> #}

<div class="title">
<h1>Article</h1>
</div>





{% endblock %}
