{% extends 'base.html.twig' %}


{% block title %}Article{% endblock %}

{% block body %}



<div class="title">
<h1>Article</h1>
</div>



{% for article in articles  %}
{{app.article.title}}
<div class="article">
<a href="{{ path('app_article', {'id' : article.id }) }}" class="btn btn-danger">Article</a>
</div>
{% endfor %}

{% endblock %}
